body {
  font-family: "Montserrat", sans-serif;
}

/* Title Section*/
#title {
  background-color: #ff4c68;
  color: white;
}
#title .container-fluid {
  padding: 3% 15% 7%;
}
#title h1 {
  font-family: "Montserrat", sans-serif;
  font-size: 3.1rem;
  font-weight: bold;
  line-height: 1.5;
}
#title .navbar {
  padding-bottom: 4rem;
}
#title .navbar .navbar-brand {
  font-family: "Ubuntu", sans-serif;
  font-size: 2.5rem;
  font-weight: bold;
}
#title .navbar .nav-item {
  padding: 0 18px;
}
#title .navbar .nav-item .nav-link {
  font-size: 1.2rem;
  color: white;
  font-weight: thin;
}
#title .row {
  position: relative;
}
#title button {
  margin: 5% 3% 5% 0%;
}
#title .title-img {
  position: absolute;
  width: 20%;
  -webkit-transform: rotate(25deg);
          transform: rotate(25deg);
  right: 20%;
}

/* Features Section */
#features {
  padding: 4rem 0;
  background-color: white;
  position: relative;
}
#features > .row {
  width: 90%;
  margin: 0 auto;
}
#features > .row > .description {
  text-align: center;
  margin: 2rem 0;
  text-decoration: none;
}
#features > .row > .description i {
  color: #ff7f93;
  font-size: 3rem;
  line-height: 1.7em;
}
#features > .row > .description h3 {
  font-size: 2rem;
  font-family: "Montserrat", sans-serif;
  font-weight: bold;
  color: black;
}
#features > .row > .description p {
  color: gray;
  font-size: 1.2rem;
}
#features > .row > .description:hover > i {
  color: #ff4c68;
}

/* Testimonial Section */
#testimonials {
  text-align: center;
  background-color: #ff4c68;
  color: white;
  padding: 4rem 0;
}
#testimonials .carousel-inner {
  padding-bottom: 20px;
}
#testimonials .carousel-inner .carousel-item {
  padding: 3% 15%;
  height: 550px;
}
#testimonials .carousel-inner .carousel-item h2 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  min-height: 4.5em;
}
#testimonials .carousel-inner .carousel-item img {
  width: 15%;
  border-radius: 50%;
}
#testimonials .carousel-inner .carousel-item em {
  font-size: 1.5rem;
}

#press {
  text-align: center;
  background-color: #ff4c68;
  padding: 4rem 0;
}
#press img {
  width: 15%;
  margin: 10px 20px 50px;
}

#pricing {
  padding: 4rem 0;
  text-align: center;
}
#pricing > h2 {
  padding: 1rem 0;
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
}
#pricing > p {
  color: gray;
}
#pricing .container .row {
  padding: 3% 15%;
}
#pricing .container .row > div {
  padding: 1rem;
}
#pricing .container .row > div .card .card-header h4 {
  font-family: "Montserrat", sans-serif;
  font-size: 1.4rem;
  font-weight: bold;
  line-height: 1.5;
}
#pricing .container .row > div .card > div > .price {
  font-family: "Montserrat", sans-serif;
  font-size: 2rem;
  font-weight: bold;
  line-height: 1.5;
}

#cta {
  background-color: #ff4c68;
  text-align: center;
  padding: 4rem 0;
}
#cta h3 {
  font-family: "Montserrat", sans-serif;
  font-size: 3rem;
  font-weight: bold;
  line-height: 1.5;
  color: white;
  padding: 3rem;
  width: 65%;
  margin: 0 auto;
}
#cta button {
  margin: 3rem 0.5rem;
}

#footer {
  padding: 4rem 0;
  text-align: center;
}
#footer .social-network {
  padding-bottom: 1rem;
}
#footer .social-network i {
  font-size: 1.3rem;
  padding: 0 0.5rem;
}
#footer p {
  color: gray;
  font-size: 0.75rem;
}

/* Media query for Tablet and Smartphones*/
@media only screen and (max-width: 991px) {
  #title .container-fluid {
    padding: 3% 2%;
  }
  #title .container-fluid .navbar .navbar-brand {
    font-size: 4rem;
  }
  #title .container-fluid .navbar .navbar-toggler-icon {
    font-size: 2.5rem;
  }
  #title .container-fluid .navbar .nav-item {
    border-bottom: 2px solid white;
  }
  #title .container-fluid .navbar .nav-item .nav-link {
    font-size: 2rem;
  }
  #title .row {
    text-align: center;
  }
  #title .row button {
    font-size: 2.5rem;
    padding: 1rem 2rem;
  }
  #title .row .title-img {
    position: static;
    width: 35%;
    -webkit-transform: rotate(0deg);
            transform: rotate(0deg);
    padding: 3rem 0;
  }

  #features {
    max-width: 95%;
  }
  #features > .row > .description h3 {
    font-size: 2.7rem;
  }
  #features > .row > .description p {
    font-size: 1.85rem;
  }

  #testimonials .carousel-inner .carousel-item {
    padding: 6% 2%;
  }
  #testimonials .carousel-inner .carousel-item img {
    width: 25%;
  }
  #testimonials .carousel-inner .carousel-item em {
    font-size: 2rem;
  }

  #pricing > .container {
    max-width: 95%;
  }
  #pricing > .container > .row {
    padding: 6% 2%;
  }
  #pricing > .container > .row > div .card .card-header .card-title {
    font-size: 3rem;
  }
  #pricing > .container > .row > div .card .card-body .price {
    font-size: 2.5rem;
  }
  #pricing > .container > .row > div .card .card-body .card-text {
    font-size: 2rem;
  }
  #pricing > .container > .row > div .card .card-body button {
    font-size: 2.3rem;
    padding: 2rem;
    margin: 2rem 0;
  }

  #footer .social-network i {
    font-size: 2.5rem;
  }
  #footer .copyright {
    font-size: 0.2rem;
  }
}