//Background Color
$main-background-color : #ff4c68
$icons-color: #ef8172
$desc-color: darkgray

// Font family
$ff-monserrat: 'Montserrat', sans-serif
$ff-ubuntu:    'Ubuntu', sans-serif
$ff-merriweather: 'Merriweather', serif
$ff-sacramento: 'Sacramento', cursive
